# Python Virtual Environments & Cache
__pycache__/
*.pyc
env/
venv/

# Security / Secrets (CRITICAL)
.env

# Database
instance/
deepguard.db

# User Uploads & Generated Reports
uploads/
static/spectrograms/

# Training Data (Keep off the live server)
dataset/